body.modal {
    width: 1000px;
  margin: left;
}
#k{
    color: white;
    font-family: monotype corsiva;
}
#heading{
     color: white;
}
#menu{
    color: white;
}
#jj{
color: white;
}
#rr{
color: white;
}